$rootBgColor: #fcf7f4;
// color variable

// $primaryColor: red;
// $ashColor: #aaaaaa;

$primaryParagraph: #87bfd0;
// $primaryParagraph: red;

// text color
$offWhiteOld: #fcf7f4;
// $offWhiteOld: #F8F8F8;
$offWhite: #f1f2f5;
$bgGroupDetails: #f0f1f4;
$primaryColor: #21263b;
$ashColoold: #a0a4b4;
$ashColor: #21263b;
$pinkPrimary: #f6a877;
$darkAshColor: #f1f2f9;
$blackLight: #ebf2f7;

//

$primaryGreen: #2b5764;
$primaryOrange: #fdb82a;
$pureWhite: #ffffff;
$primaryGrey: #a8b1b4;
$primaryYellow: #fdb82a;
$primaryGreyTwo: #b2c3cd;
$primaryGreyThree: #b8bdc1;
$paragraphColor: #002434;

$primaryGunmetal: #87bfd0;
$primaryBlack: #53585e;

$primaryLightGreyBlue: #ebf5f8;
$primaryGreenDeep: #2b5764;
$primaryGreenLight: #4dd965;
$primaryGreenLightTwo: #1be1b2;
$primaryYellow: #f3b72a;
$primaryRed: #ff525d;
$primaryPink: #ed4c4c;
$deepRed: #ffa9ac;
$speciality: #70727e;
$addBlue: #2392ec;
$pictonBlue: #2392ec;
$Bermuda: #6cd8a6;
$Mischka: #d8dce1;
$WildSand: #f5f5f5;

$primaryGreenLightLight: #d0dbe5;

// font
$normal: normal;
$bold: bold;
$weight-600: 600;
$weight-500: 500;
$weight-400: 400;
$weight-300: 300;
